<div class="form-group">
  <input type="text" [(ngModel)]="postDetails.title" class="form-control" placeholder="title">
  <input type="text" [(ngModel)]="postDetails.body" class="form-control" placeholder="body">
  <input type="text" [(ngModel)]="postDetails.id" class="form-control" placeholder="id">
  <button (click)="createOnePost()">Create</button>
</div>

<!-- <div class="form-group">
  <input type="number" [(ngModel)]="addNumbers.x" class="form-control" placeholder="x">
  <input type="number" [(ngModel)]="addNumbers.y" class="form-control" placeholder="y">
  <button (click)="printResult()">Add</button>
</div> -->
